extends layout

block content
  .row
    h1 LOS RELOJES CRUZZALEGUI SON CREADOS CON ESCRUPULOSA MINUCIOSIDAD
    p Explore la colección de prestigiosos relojes Rolex de alta precisión. Rolex proporciona una amplia selección de relojes Oyster Perpetual y Cellini, para adaptarse a cualquier muñeca. Descubra la gran selección de relojes Rolex: una perfecta combinación de estilo y funcionalidad.
  .row
    each item in pedidos
      .col-md-4.productos 
        .row
          img.img-producto(src="/images/product/r1.png" width="100%")
        .row 
          p 
            ul 
              li Precio: S/ #{item.precio}
              li Material: #{item.material}
              li Color: #{item.color}
              li Marca: #{item.marca}
              li Descripcion: #{item.descripcion}
              li Stock: #{item.cantidad}
            a.btn.btn-info(href='/pedido/#{item.product_id}') Pedir
  .row.footer
    h4 Cruzzalegui 2021